{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'weather.css' %}">
    
</head>

<body>
        
            <div>
                <h1>
                    Weather condition....
                </h1>
                <h2 id="day"></h2>
                <div class="dateDiv"> 
                    <span id="date"></span>
                    <span id="month"></span>
                    <span id="year"></span>
                </div>
                
            </div>
    
        <div>
            
                    <form method="POST">
                        {% csrf_token %}
                        <div>
                            <div>
                                {{ form.name }}
                            </div>
                            <div>
                                <button type="submit">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% if message %}
                            <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endif %}
                    </form>
        </div>
    
    
            <div>
                <div>
                    {% for city_weather in weather_data %}
                    <div>
                        <article>
                            <div>
                                <figure>
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div>
                                <div>
                                    <p>
                                        <span>{{ city_weather.city }}</span>,
                                        <span>{{ city_weather.country }}</span>
                                        <br>
                                        <span>temp : {{ city_weather.temperature }}° F</span>
                                        <br>
                                        <span>min_temp : {{ city_weather.min_temp }}° F</span>
                                        <br>
                                        <span>max_temp : {{ city_weather.max_temp }}° F</span>
                                        <br>
                                        <span>pressure : {{ city_weather.pressure }} hpa</span>
                                        <br>
                                        <span>humidity : {{ city_weather.humidity }} %</span>
                                        <br>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div >
                                <a href="{% url 'delete_city' city_weather.city %}">
                                    <button class="delete">x</button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
 
    
</body>

</html>

<script>
    var d = new Date();
  var weekday = new Array(7);
  weekday[0] = "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var n = weekday[d.getDay()];
  document.getElementById("day").innerHTML = n;

  document.getElementById("date").innerHTML=d.getDate() +" / ";
  document.getElementById("month").innerHTML=d.getMonth()+1 +" / ";
  document.getElementById("year").innerHTML=d.getFullYear()

</script>
